body{
	font-family:Perpetua;
	background-image: url(../Images/Background.jpg);
	background-size: 340px 500px;
	margin:0;
    padding:0;
    background-attachment: fixed; 
	}
footer{
	background-image: url(../../Images/pied.jpg);
	margin:0% 0% 0% 20%;
	width:39%;
	height:100%;
    background-attachment: fixed; 
	border: 4px inset;
	}
#suivante{
	margin-top:3%;
	text-decoration:underline;
	font-size:17px;
	margin-left:7%;
	font-weight:bold;
	text-shadow:2px 2px 2px;
	color:#979797;
	}
.redirection{
	font-size:14.5px;
	font-weight:bold;
	margin-left:2%;
	text-decoration:underline;
	}
.espace{
	margin-left:2.5%;
	color:#33C8DC;
	font-weight:bold;
	}
	
.bordure1 { 
	background-image:url(../../Images/Fond3.jpg);
	padding-top:8px;
	padding-bottom:8px;
	border: 4px inset 	#0091fe;
	width:60%;
	text-align:center;
	}
.bordure2 { 
	background-image:url(../../Images/Fond3.jpg);
	padding-top:8px;
	padding-bottom:8px;
	border: 4px inset 	#0091fe;
	width:40%;
	text-align:center;
	}	

aside{
	opacity:0.9;
	margin:0% 25% 0% 0%;
	width : 15%;
	background-color :#544e4e;
	border-style:inset;
    border-radius : 10px;
    color : white;
	font-size : 20px;
    float : right;
	border-width:4px;
	
    }
/* Liens survolés plus gros et en rouge !     box-shadow : 0px 2px 5px #1c1a19; */
aside:hover{
	opacity:1;
	}
.fiche{
	font-weight:bold;
	font-size:105%;
	color:#0f8adb;
	}
.fiche2{
	font-style:italic;
	font-size:95%;
	text-decoration:underline;
	padding-left:2.5%;
	}
	
.titrenav{
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
	padding-bottom:10%; 
	}
.titrenav2{
	border-top : 3px solid #FFFFFF; 
	padding-top:5%;
	margin-top:10%;
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
	padding-bottom:-6%; 
	}
.titrenav3{
	border-top : 3px solid #FFFFFF; 
	padding-top:5%;
	margin-top:10%;
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
	margin-bottom:-2%;
	text-align:center;	
	}
.fiche{
	width:216px;
	height:100px;
	}
.centrer{
	text-align:center;
	}
a:hover{
	font-size:110%;
	color:#D7A2F2;
}
#baniere{	
	margin-left:20%;
	width:55%; 
	height:300px;
	}

.Accueil{
	background-image:url(../../Images/Fond2.jpg);
	background-repeat:repeat;
	color:dark;
	width:10%;
	height:47px;
	text-align:center;
	}
.annule{
	color:#000000;
	}
	
#interieurmenu{
	background-image:url(../../Images/Fond2.jpg);
	color:dark;
	width:5%;
	height:47px;
	text-align:center;
	}	
#menuprincipal{
/* 	border: 8px inset #3C3232; */
/* 	border:inset 8px; */	
	height:50px;
	text-decoration:underline;
/* 	color:#3C3232; */
	margin:0% 24.9% 0% 20%; 
	border-radius:10px;
	border-collapse:collapse;
	}
	
.menudroite{
 	border-style:inset;
	text-decoration:underline;
	color:#3C3232;
	margin:0% 0% 0% 0%; 
	border-width:8px;
	border-radius:10px; 
	width:100%;
	font-size:80%;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:underline;	
	}

section{ 
	background-color:#FBFBEF;
	width:39%;
	height:100%;
	margin: 0% 0% 0% 20% ;
	font-size:15px;
	color:#000000;
	opacity:0.9;
	border-style:inset;
	border-color:white;
	border-radius : 10px;
	border-width:4px;
	}
section:hover{
	opacity: 1;
	}
	
.bordure4 { 
	border: 8px inset #3C3232;
	}
.bordure3 { 
	border: 8px inset #3C3232;
	width:250px;
	height:125px;
	}
 
table{border-collapse:collapse;}

 .fondblanc2{
	background-color:#FBFBEF;
	width:90%;
	height:100%;
	margin: -2% 5% 0% 0% ;
	}
	
.titre{
	margin-top:2%;
	text-decoration:underline;
	font-size:20px;
	font-style:italic;
	text-indent:17px;
	font-weight:bold;
	text-shadow:2px 2px 2px;
	}
.fansub{
	text-decoration:underline;
	font-size:20px;
	font-style:italic;
	margin-left:78%;
	font-weight:bold;
	text-shadow:2px 2px 2px;
}
.name{
	margin-left:0.7%;
	font-size:18px;
	font-weight:bold;
	text-shadow:0.5px 0.5px 0.5px;
	color:#506060;
	}
	
.jour{
	margin-top: 5%;
	text-decoration:underline;
	font-size:20px;
	text-indent:30px;
	font-weight:bold;
	text-shadow:2px 2px 2px;
}
.nom{
	font-size:15px;
	font-weight:bold;
	text-shadow:1px 1px 1px;
	color:#CC33CC;
	text-decoration:none;
	}

.chiffre{
	color:#990A05;
	text-shadow:1px 1px 1px;
	font-size:15px;
	font-weight:bold;
	}
.langue{
	color:#33C805;
	text-shadow:1px 1px 1px;
	font-size:15px;
	font-weight:bold;
	}
.upload{
	color:#33C8DC;
	text-shadow:1px 1px 1px;
	font-size:15px;
	font-weight:bold;
	}
li{
	display : list-item;
	list-style-image : url(../../Images/droite.jpg);
	}

#dewbody {
	font-family:"Myriad","Myriad Pro",Georgia,Helvetica,Sans-serif;
	height:100%;
	padding:0 0 5em 0;
	margin:0;
	background:#eee;
}

#dewbody #content {
	width:50%;
	margin:auto;
}

#dewbody #players {
	background:#fff;
	overflow:auto;
}

#dewbody #players object {
	margin:20px 0 20px 50px;
}

#dewbody h1 {
	color:#456;
	margin-top:2em;
	padding:0 0 20px 10px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}

#dewbody h2 {
	font-weight:normal;
	background:#eee;
	padding:2em 10px 10px 10px;
	color:#444;
	font-size:130%;
	text-align:left;
	margin:0;
}

#dewbody p {
	margin:10px;
	padding-bottom:10px;
}

#dewbody .hint {
	color:#666;
	float:right;
	width:300px;
	text-align:left;
	margin-right:10px;
	background:#f6f6e0;
	padding:10px;
	clear:both;
}

#dewbody a {
	text-decoration:none;
	color:#369;
}

	

