@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
.barremax{
	display: block;
	width:300px;
	height:20px;
	margin-top: 2%;
	margin-left: 25%;
	border: inset 2px black;
	border-radius: 3px;
}
.barre{
	width:15px;
	height:20px;
}
.vote{
	margin-left:2%;
	margin-top: -20%;
}
.vote2{
	margin-left:20%;
	margin-top: -20%;
	margin-bottom: -20%;
}
.pouce{
	border:1px green inset;
	border-radius: 7px;
	width:40px;
	height:30px;
	margin-left: 2%;
}
.poucerouge{
	border:1px red inset;
	border-radius: 7px;
	width:40px;
	height:30px;
}
.RemiseZero{
	margin-left: 28%;
	margin-top: 3%;
}
#special{


text-align: center;
}

#Commentary
{
    padding-top: 20px;
    margin-top: 100px;
	padding-bottom: 20px;
    border-collapse: collapse;
	display: inline-block;
	vertical-align:center;
}

table#Commentary td {
font-family: Arial;

padding: 5px;
max-width: 600px;
min-width: 600px;


}


table#Commentary th{
color: white;
font-family: Arial;
border:  #6495ed;
padding:5px;
background-color: #6495ed;

}




#tablemembre
{
	margin-left:20px;
    padding-top: 20px;
    margin-top: 20px;
	padding-bottom: 20px;
    border-collapse: collapse;
	display: inline-block;
}

table#tablemembre td {
font-family: Arial;
border: thin solid #6495ed;
padding: 5px;
max-width: 120px;
min-width: 120px;



}


table#tablemembre th{
color: white;
font-family: Arial;
border:  #6495ed;
padding:5px;
background-color: #6495ed;
border: thin solid #6495ed;
}


#izi
{

display: inline-block;



}

#onefiche{

margin-left:10%;
margin-right:30%;
width: 500px;


}

table#onefiche th{
font-family: sans-serif;
border: thin solid #6495ed;
padding: 3px;
text-align: center;

}

table#onefiche td{
font-family: sans-serif;
padding: 3px;
text-align: justify;
vertical-align:top;



}

body{
	background-color: #e9eaed;
	min-width: 1020px;
	background-attachment: fixed; 
	
}
header{
	background: url("../image/basafilm.jpg");
	background-repeat: no-repeat;
	margin-left:20%;
	margin-right:20%;
	height:180px;
}
footer{

	width:55%;
	max-width: 700px;
	margin-top: 30px;
	margin: 0% 0% 0% 20%;
	background-color:  #F5F5F5;
	height:10%;
    display: inline-block;

}

th{
font-family: "verdana", "arial", "helvetica", sans-serif;
padding-top:5px;
padding-bottom:5px;
padding-right:5px;
padding-left:5px;
color : #ffffff; 
background-color:  #3b5998;

}
table{

margin-top:20px;

}

article{

	margin-left:20px;
	margin-right:20px;
}

td{

font-family: "verdana", "arial", "helvetica", sans-serif;
font-size: 13px;
}


h2{
color : #3b5998;   
font-size: 20px;
font-family: "verdana", "arial", "helvetica", sans-serif;
text-decoration: none;
}

h3{ 
display: inline ;
font-size: 12px;
font-family: "verdana", "arial", "helvetica", sans-serif;
text-decoration: bold;
}


section{
	background-color: #ffffff;
	width:55%;
	max-width: 700px;
	min-height: 800px;
	background-attachment: fixed; 
	margin: 0% 0% 0% 20%;
	
 border-width:1px;
 border-style:solid  ;
 border-color: #dfe0e4;

}
aside{
	float:right;
	margin-top: 0.5%;
	margin-right: 6%;
	max-height: 300px;
	min-width:16.5%;
	/*max-width:16.5%;*/
	width:18%;
	min-height:120px;
	background-color: #ffffff;
	background-attachment: fixed; 
	 border-width:1px;
 border-style:solid  ;
 border-color: #dfe0e4;
	
}




.woh{

margin-left:10%;
text-align:center;
min-width: 400px;
margin-bottom:20px;

}

p
{
padding-top:20px;
color: #333333;
font-family: "verdana", "arial", "helvetica", sans-serif;
font-weight: 400;
font-size: 1em;

}

.lientabfilm{

text-decoration: none ;
color: #3b5998;
font-size: 1.2em;
}

.lientabfilm:hover {

color: #f3bf32;
}


#deconnexion{

margin-left:40px;
}

.login{
	min-width: 110px;
	width:8%;
	height: 15px;
	font-size:14px; 
}
.password{
	min-width: 110px;
	width:10%;
	height: 15px;
	font-size:14px; 
	margin-left: 9px;
}
.envoyer{
	margin-left: 55px;
}
.fiche{
	width:80px;
	height:100px;
}

.grossefiche{
	width:200px;
	height:200px;
}
.membre{
	float:left;
	margin-left: 45px;
	width:200px;
	height:200px;
	/*margin:5px;*/
	border: 2px;
}
.imagemembre{
	padding-left:0%; 
	padding-top: 5px;
	width: 80px;
	height: 80px;
}
.prenom_membre{
	padding-left: 0px;
	padding-top:0px;
}
.grade_membre{
	border: 1px;
	float:left;
	margin-left: 80px;
}
/*------------------------------------------*/


.fancyNav{
	/* Affects the UL element */
	overflow: hidden;
	display: inline-block;
	margin-left: 15.5%;
	margin-top: 0.1%;
}

.fancyNav li{
	/* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
	
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	
	/* Adding a 1px inset highlight for a more polished efect: */
	
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	
	position:relative;
	
	float: left;
	list-style: none;
}

.fancyNav li:after{

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/* Gradients! */
	
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
	
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	/* This will create a smooth transition for the opacity property */
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.fancyNav a.homeIcon{
	background:url('../image/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}
